.H5_component_pie canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.H5_component_pie .text{
    position: absolute;
    z-index: 99;
    /* opacity: 0; */
    font-size: 12px;
    height: 24px;
    line-height: 12px;
}